/* Style for the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
  position: relative;
}


/* Style for the links in the dropdown */
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of links on hover */
.dropdown-content a:hover {
  background-color: #f2f2f2;
}

/* Show the dropdown when hovering over the container */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 60px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: -110px; /* Position the dropdown content below the dropdown button */
  right:-280px;
}

/* Change the arrow in the dropdown button when the dropdown content is shown */
.caret {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: 20px;
  margin-left: 8px;
  border-top: 5px solid #ffffff; /* Change the color as needed */
}




/* Style for the dropdown button */
.dropbtn {
  background-color: #000000;
  color: rgb(255, 255, 255);
  position: absolute;
  top: -160px; /* Adjust this value to control the vertical position */
  right: -280px;
  padding: 12px 24px;
  border-radius: 10px;
  border: solid rgb(255, 255, 255);
  cursor: pointer;
  z-index: 222222;
}

/* Style for the dropdown button on hover */
.dropbtn:hover {
  background-color: #1D979A;
  text-decoration: dashed;
}



header .item {
  height: 100vh;
  position: relative;
}

header .item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

header .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  
  
  display: flex;
  align-items: center;
}

header .item .cover .header-content {
  position: relative;
  padding: 56px;
  margin-top: 190px;
  overflow: hidden;
  background-color: #746e5952;
  backdrop-filter: blur(3px);
  z-index: 1;
}

header .item .cover .header-content1 {
  position: relative;
  padding: 56px;
  margin-top: 190px;
  overflow: hidden;
  border-radius: 300px;
  background-color: #746e5952;
  backdrop-filter: blur(3px);
  z-index: 1;
}

header .item .cover .header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 18px solid #000000;
  -webkit-clip-path: polygon(0 0, 10% 0, 89% 100%, 0 100%);
  transition: border-color 0.3s; /* Add a transition for smooth color change */
}

header .item .cover .header-content .line:hover {
  border-color: #fbc531; /* Change the border color on hover */
}

header .item .cover .header-content h2 {
  font-weight: 300;
  font-size: 35px;
  color: #000000;
}

header .item .cover .header-content1 h2 {
  position: absolute;
  top: 100px;
  font-weight: 300;
  font-size: 2.55rem;
  align-items: flex-start;
  color: rgb(0, 0, 0);
}

header .item .cover .header-content h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 5px 0 20px;
  word-spacing: 3px;
  color: #000000;
}

header .item .cover .header-content1 h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 5px 0 20px;
  word-spacing: 3px;
  color: rgb(195, 210, 24);
}

header .item .cover .header-content h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #000000;
}


header .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}

header .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}

header .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}

header .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}

header .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}

header .owl-nav .owl-prev span {
  font-size: 1.6875rem;
  color: #fff;
}

header .owl-nav .owl-prev:focus {
  outline: 0;
}

header .owl-nav .owl-prev:hover {
  background: #000 !important;
}

header .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}

header .owl-nav .owl-next span {
  font-size: 1.6875rem;
  color: #fff;
}

header .owl-nav .owl-next:focus {
  outline: 0;
}

header .owl-nav .owl-next:hover {
  background: #000 !important;
}

header:hover .owl-prev {
  left: 0px;
  opacity: 1;
}

header:hover .owl-next {
  right: 0px;
  opacity: 1;
}

.navbar {
  background-color: rgb(0, 0, 0);
}

.navbar .navbar-nav .nav-link {
  color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
  color: #fbc531;
}

.navbar .navbar-nav .active > .nav-link {
  color: #fbc531;
}

footer a.text-light:hover {
  color: #fed136 !important;
  text-decoration: none;
}

footer .cizgi {
  border-right: 1px solid #535e67;
}

@media (max-width: 992px) {
  footer .cizgi {
    border-right: none;
  }
}
